# Ignorar ambiente virtual (não deve ir para o repositório)
venv/

# Arquivos de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários ou de backup
*.log
*.bak
*.swp
*.tmp

# Sistema do VSCode
.vscode/